{% extends 'base.html' %}

{% block content %}
  <div class="card-grid">
    {% for post in posts %}
      <div class="card" style="width: 18rem; border: 6px solid #422323; border-radius: 12px;">
        {% if post.image %}
          <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <h6 class="card-subtitle">{{ post.date }}</h6>
          <a href="{% url 'detail' post.pk %}" class="card-link">read post</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block about %}
  <div class="about-box fade-in">
    <h2>About Velvet Bakery</h2>
    <p>
      Velvet Bakery is a tribute to the recipes I've made with my grandma throughout my life, highlighting my favorites.
      From recipes she made herself, to those we found on the back of m&m's, these are the most delicious ones taken from my family recipe book. 
    </p>
  </div>
{% endblock %}

