/* style.css */
@font-face {
  font-family: "Comic";
  src: url("sophiecomic.woff") format("woff");
    font-weight: 600;
  font-style: normal;
}

:root {
  --pink: #f8c8dc;
  --brown: #4b2e2e;
}

.site-header {
  padding: 20px;
  padding: 2.5rem;
  background-color: hwb(0 14% 74%);
    font-family: "Comic";
 }

 .h1{
  font-family: "Comic";
  font-size: 70px;
 }

.title-container {
  display: flex;
  align-items: center; /* vertically centers image and title */
  justify-content: center; /* horizontally centers the whole block */
}

.logo {
  height: 125px; /* matches the font size of the title */
}

.card:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

.lace-side {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 60px;
  background-color: #4b2e2e; 
  

  z-index: -1;
}

.lace-side.left {
  -webkit-mask-image: url('brownlace.png');
  -webkit-mask-repeat: repeat-y;
  -webkit-mask-size: contain;

  mask-image: url('brownlace.png');
  mask-repeat: repeat-y;
  mask-size: contain;
  left: -6px;
}

.lace-side.right {
  -webkit-mask-image: url('brownlaceright.png');
  -webkit-mask-repeat: repeat-y;
  -webkit-mask-size: contain;

  mask-image: url('brownlaceright.png');
  mask-repeat: repeat-y;
  mask-size: contain;
  right: -6px;
}



body {
 background-color:#ddbfb5;
   font-family: "Comic";

}