/* style.css */
:root {
  --pink: #f8c8dc;
  --brown: #4b2e2e;
}

.site-header {
  padding: 20px;
  padding: 2.5rem;
  background-color: hwb(0 18% 71%);  background-image:
 }

.title-container {
  display: flex;
  align-items: center; /* vertically centers image and title */
  justify-content: center; /* horizontally centers the whole block */
}

.logo {
  height: 125px; /* matches the font size of the title */
}